@import '~@/styles/variables.less';

@header-background: #002140;

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  background: transparent;

  :global {
    .ant-menu-horizontal {
      background: transparent;
      border-bottom: none;
    }

    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
      padding: 0 40px;
    }

    .ant-menu-item::after,
    .ant-menu-item:hover::after,
    .ant-menu-item-active::after {
      border-bottom: none !important;
    }
  }

  .menuItem {
    color: #fff;
  }
}
